@using Model;
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "PagedList";
}

<link href="@Url.Content("/Content/PagedList.css")" rel="stylesheet"
      type="text/css" />

<h2>PagedList</h2>

@foreach (var item in Model)
{
    <p>@item.Name</p>
}

<div style="text-align: center;">
    @Html.PagedListPager((IPagedList)Model, Page => Url.Action("PagedList", new { Page }), new PagedListRenderOptions()
         {
             LinkToFirstPageFormat = "<<",
             LinkToPreviousPageFormat = "Назад",
             LinkToNextPageFormat = "Вперед",
             LinkToLastPageFormat = ">>"
         })
</div>