@model IEnumerable<Model.Product>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @foreach (var item in Model)
    {
        
            <div style="margin: 20px 0 20px 0; border: 1px solid grey;">
                <img width="75" height="75" src="@Url.Action("GetImage", "Product", new { item.Id })" />
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            
        
    }
