@using Model;
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Продукты";
}

<link href="@Url.Content("/Content/PagedList.css")" rel="stylesheet"
      type="text/css" />

<h2>Продукты</h2>

@Html.Partial("_Results", (PagedList<Product>)Model);

<div style="text-align: center;">
    @Html.PagedListPager((IPagedList)Model, Page => Url.Action("ShowItems", new { Page }), new PagedListRenderOptions()
         {
             LinkToFirstPageFormat = "<<",
             LinkToPreviousPageFormat = "Назад",
             LinkToNextPageFormat = "Вперед",
             LinkToLastPageFormat = ">>"
         })
</div>