@model IEnumerable<Model.Category>

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Категории</h2>

@foreach (var item in Model)
{
    <div style="margin: 20px 0 20px 0; border: 1px solid grey;">
        <img width="75" height="75" src="@Url.Action("GetImage", "Category", new { item.Id })" />
        @Html.ActionLink(item.Name, "ShowItems", "Category", new { id = item.Id }, null)
    </div>
}