@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Продукты";
}

<link href="@Url.Content("/Content/PagedList.css")" rel="stylesheet"
      type="text/css" />

<h2>Продукты</h2>

@Html.Partial("_Results");